html{
  width: 1450px;
  margin: 20px;
  text-align: center;
  background-color: #e5ebd7;
}
.ul1 {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  size: fit ;
}
  .ul2{
    font-size: 20px;
  }
  
  .li1 {
    float: left;
    margin: 20px;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    padding: 0;
  }
  
  li a {
    font-size: 30px;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    border-radius: 12px;
    background-color: #ffffff;
  }
  
  .active {
    border-radius: 12px;
    background-color: #4bdbff;
  }
  header{
    display: flex;
    text-align: center;
    font-size: 60px;
    margin-left: 25%; 
    margin-right: 25%;
    margin-top: 25px;
    margin-bottom: 50px;
    /*margin-bottom: 200px;*/
}
pre{
    display: flex;
}
.img1{
    display: flex;
    margin: auto;
    border-radius: 15%;
}
.div1{
    margin-left: 200px;
    margin-right: 200px;
    margin-top:  100px;
    margin-bottom: 200px;
    display: flex;
}
.div2{
    float: left;
    margin: auto;
}
.div3{
    float: right;
    margin: auto;
}
.div4{
    width: auto;
    text-align: left;
    font-size: 20px;
}
.div5{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-left: 100px;
    text-align: right;
    float: right;
}
.div6{
  width: auto;
    text-align: left;
    font-size: 20px;
}
.div7{
    margin-left: 200px;
    margin-right: 200px;
    margin-top:  200px;
    margin-bottom: 20px;
    display: flex;
}
h1{
    font-size: 30px;
    text-align: center;
}
h2{
  font-size: 30px;
  text-align: left;
}
h3{
  font-size: 30px;
  text-align: left;
}