html{
  width: 1450px;
  margin: 20px;
  text-align: center;
  background-color: #e5ebd7;
}
ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  size: fit ;
}

.li1 {
  float: left;
  margin: 20px;
  font-weight: bold;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  padding: 0;
}

li a {
  font-size: 30px;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  border-radius: 12px;
  background-color: #ffffff;
}

.active {
  border-radius: 12px;
  background-color: #4bdbff;
}
header{
  display: flex;
  text-align: center;
  font-size: 60px;
  margin-left: 25%; 
  margin-right: 25%;
  margin-top: 25px;
  margin-bottom: 50px;
  /*margin-bottom: 200px;*/
}
pre{
    display: flex;
}
.div1{
  margin: 200px;
  display: flex;
  text-align: center;
}
.div2{
  float: left;
  margin: auto;
  flex: 50%;
}
.div3{
  float: right;
  margin: auto;
  flex: 50%;
  text-align: center;
}
.div4{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-right: 200px;
}
img{
  width: 400px;
  height: 300px;
  border-radius: 50%;
}
h1{
  font-size: 25px;
  color: #c5310d;
}
h2{
  font-size: 20px;
}
p{
  font-size: 15px;
}
.f{
  font-size: 20px;
}