html{
    width: auto;
    margin: 100px;
    text-align: center;
    background-color: #e5ebd7;
}
.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
  }
  .ul2{
    font-size: 35px;
  }
  
  .li1 {
    float: left;
    margin: 20px;
  }
  
  li a {
    font-size: 80px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
header{
    display: flex;
    text-align: center;
    font-size: 120px;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    /*margin-bottom: 200px;*/
}
pre{
    display: flex;
}
.div1{
    display: flex;
    text-align: center;
    height: auto;
    margin: 100px;
}